#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

/* Navbar.css */

nav {
	background-color: #e4cf32;
	padding: 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center; /* Center the flex items horizontally */
	align-items: center; /* Center the flex items vertically */
	height: 100%; /* Ensure the navbar takes the full height of its container */
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: rgb(0, 0, 0);
}

a:hover {
	text-decoration: underline;
}

/* Additional styles for positioning the navbar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
}

/* Reset default margin and padding on the body */
body {
	margin: 0;
	padding: 0;
}

/* Ensure that content doesn't start behind the fixed navbar */
#content {
	margin-top: 60px; /* Adjust as needed based on your navbar's height */
}

/* Styles for making all pages span the whole screen */
#content > div {
	width: 100%;
}

table {
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}

th,
td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

th {
	background-color: #f2f2f2;
}

td img {
	max-width: 100%;
	max-height: 100px;
	display: block;
	margin: auto;
}
